.lmsConfiguration .examPages > div, .lmsConfiguration .examPage > div, .lmsConfiguration .examQuestion > div {
	border: 1px solid #DADADA;
	margin: 5px;
	padding: 5px;
}

.lmsConfiguration .field-title {
	font-weight: bold;
}

.lmsConfiguration .aui-undomanager {
	display: none;
}


.lfr-form-row:hover .lfr-form-row:hover {
  background-color: #FFFF66;
}

.lfr-form-row:hover .lfr-form-row:hover .lfr-form-row:hover {
  background-color: #99FFFF;
}


.lmsConfiguration .dummyContainer {
	display: none;
}